
:root {
  --main-color: #F6BD60;
  --main-color-contrastText: #212121;
  --main-bg-color: #212121;
  --main-text-color: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

html {
  font-size: 62.5%; /* font-size 1em = 10px */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--main-color);
  margin-top: unset;

}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

body {
  /* Dunno if setting the padding top and bottom on body is a good idea. */
  /* if its not, just wrap the content in a div. I just wanted to avoid it. */
  padding: 80px 25%;
}

@media (max-width: 1024px) {
  body {
    padding: 60px 10%;
  }
}

@media (max-width: 768px) {
  body {
    padding: 40px 10%;
  }
  h1 {
    font-size: 3rem;
  }
  

}

@media (max-width: 375px) {
  body {
    padding: 10% 10%;
  }
  h1 {
    font-size: 2rem;
  }
}


