
:root {
  --main-color: #F6BD60;
  --main-color-contrastText: #212121;
  --main-bg-color: #212121;
  --main-text-color: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, OpenSans, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

