:root {
  --main-color: #f6bd60;
  --main-color-contrastText: #212121;
  --main-bg-color: #212121;
  --main-text-color: #ffffff;
  --ff-standard: 'Open Sans', Segoe UI, Helvetica Neue, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-standard);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  padding: 3rem 0;
}
.container {
  width: min(90%, 60.5rem);
  margin-inline: auto;
  padding: 3rem 0;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  line-height: 1;
}
